<!-- bulb/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<style>
		body { font-family: sans-serif; padding: 24px; }
		button { padding: 10px 16px; margin-right: 8px; }
	</style>
</head>
<body bgcolor = "lightblue">
	<center>
    		<h1>Welcome to the IOT Smartlight Home Page!</h1>
    		<p>This site showcases the status of a remotely controlled IOT smartlight.</p>

		<hr />

		<p>Test the light for yourself! Register or sign in today.</p>
		<form action="http://localhost:8000/accounts/login">
			<input type="submit" value="Login">
		</form>

		<hr />

		<p>Are you logged in as a user? See our current schedules for the state of the light bulb, or make your own schedules.</p>
		<form action="http://localhost:8000/schedules">
			<input type="submit" value="Schedules">
		</form>

		<hr />

		<p>Are you logged in as a user? Control the state and brightness of the light bulb manually.</p>
		<form action="http://localhost:8000/control">
			<input type="submit" value="Control">
		</form>
	</center>
</body>
</html>
